@font-face {
    font-family: "Lato Light";
    src: url("/fonts/Lato-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Lato Regular";
    src: url("/fonts/Lato-Regular.ttf");
    font-weight: normal;
}
