@import 'fonts';
@import 'variables';

body {
  background-color: $background-color;
  font-family: "Lato Regular", sans-serif;
}

.header {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;

  #corpus-size {
    font-weight: 700;
    font-size: 3rem;
  }
}

.source-list {
  width: 800px;
}

.source-entry {

  display: flex;
  align-items: center;

  .bar-container {

    display: flex;
    align-items: center;

    flex-grow: 1;

    .bar {
      box-sizing: border-box;
      padding: 0.45rem;
      height: $bar-height;
      margin-left: 5px;
      margin-right: 5px;

      overflow: hidden;
      cursor: default;

      color: white;
      font-size: 0.8rem;
    }

    .bar.bar-1 { background-color: nth($bar-colors, 1); }
    .bar.bar-2 { background-color: nth($bar-colors, 2); }
    .bar.bar-3 { background-color: nth($bar-colors, 3); }
    .bar.bar-4 { background-color: nth($bar-colors, 4); }
    .bar.bar-5 { background-color: nth($bar-colors, 5); }

    .bar:hover {
      background-color:#1F8DD6;
      background-image: linear-gradient(90deg, #1F8DD6 0%, #74C1ED);
    }

    .bar-value {
      font-size: 1rem;
    }
  }
}

svg.chart {

  .bar {
    fill: $over-time-bar-color;
  }

  .bar:hover {
    fill: $over-time-bar-hover-color;
  }

}

.embeddings-title {
  margin-top: 3rem;
}

.embedding-list {
  width: 800px;

  .embedding-group-header {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .embedding-group ~ .embedding-group {
    margin-top: 1rem;
  }

  .embedding {
    display: flex;
    align-items: center;

    height: $bar-height;

    color: #222222;

    .embedding-id {
      color: #444444;
      font-size: 0.7rem;

      margin-left: 0.2rem;
      margin-right: 0.5rem;
    }
  }

  .embedding:hover {
    background-color: #1f8dd6;
    background-image: linear-gradient(90deg, #1f8dd6 0%, #74c1ed);
  }

  .embedding.embedding-progress {
    background-image: linear-gradient(
        90deg, nth($embedding-colors, 1), 0%, nth($embedding-colors, 2)
    );
    background-repeat: no-repeat;
    transition: background-size 0.7s ease;
  }

  .embedding.embedding-progress:hover {
    background-image: linear-gradient(90deg, #1f8dd6 0%, #74c1ed);
    background-color: $background-color;
  }

  .embedding-action {
    flex-grow: 1;

    padding-right: 0.5rem;

    color: #444444;
    text-align: right;
    text-decoration: none;
  }

  .embedding-action:visited {
    color: #444444;
    text-decoration: none;
  }

  .embedding-striped:nth-of-type(2n)   { background-color: nth($embedding-colors, 1); }
  .embedding-striped:nth-of-type(2n+1) { background-color: nth($embedding-colors, 2); }
}
