$background-color: #f3f3f3;

$bar-colors: #ecad55 #ea5e4c #644d9c #b2647f #425065;
$bar-height: 30px;

$embedding-colors: #ecad55 #ea5e4c;

$over-time-bar-color: #3f75a2;
$over-time-bar-hover-color: #fd7641;
