$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

/* ---- Mixins ---- */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* ---- Variables ---- */

$md-theme-orange: #ffab40;
$status-color-ok: #90ee90;
$status-color-warn: #ffffe0;
$status-color-error: #f08080;

/* ---- Style ---- */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* ****

    Nabu app rules

   ****
*/

a:focus {
  outline: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.logo {
  color: white;
}

.md-label-sim {
  color: rgba(0, 0, 0, 0.541176);
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  padding-bottom: 8px;
}

.tab-container {
  padding: 10px 5px 10px 5px;
}

.fab-btn-icon {
  color: white !important;
  height: 24px;
  font-size: 24px !important;
}

// Corpus

.corpus-search-btn {
  margin-top: 13px;
  span {
    color: white;
  }
}

.es-query-box-block {
  padding-left: 14px;
  padding-bottom: 2px;
}

.es-query-box {
  min-height: 200px;
  cursor: not-allowed;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: rgba(0,0,0,0.12);
}

.corpus-search-results {
  td em {
    background-color: $md-theme-orange;
  }
}

.doc-detail-dialog {
  overflow: visible;

  .md-dialog-content {
    max-width: 950px;
    max-height: 975px;
  }
  .doc-content {
    white-space: pre-line;
  }
  md-divider {
    margin: 15px;
  }
}

.advanced-options{
  .panel-default {
    border-color: transparent;
    .panel-heading {
      background-color: transparent;
    }
  }
  .panel {
    box-shadow: none;
  }
  .panel-top {
    border-top-color: none;
  }
  .panel-body {
    border-top: none !important;
  }
}

.no-results {
  padding: 0px 24px;
}

// Embeddings

.embedding-card {
  .md-title {
    font-family: monospace;
  }
}

.embedding-status {
    width: 20px;
    height: 20px;
    @include border-radius(15px);
    box-shadow: 0 2px 4px #e6e6e6;
    border: 1px solid rgba(99, 91, 91, 0.38);
}

.trained {
  @extend .embedding-status;
  background-color: $status-color-ok;
}

.training {
  @extend .embedding-status;
  background-color: $status-color-warn;
}

.untrained {
  @extend .embedding-status;
  background-color: $status-color-error;
}

.embedding-new-dialog {
  overflow: visible;
}
