# Production
SQLAlchemy
requests
lxml
cssselect
psycopg2
python-dateutil
Flask
Flask-CORS
click
elasticsearch
dataset
zipstream

# Development
ipython
ipdb

# Training
gensim
nltk
celery[redis]
sparsesvd
