<div layout-padding class="tab-container">
  <div layout-padding layout="row">
    <h3>
      The corpus currently has <span style="color: #FF4081;">{{corpusSize | number}}</span> words!
    </h3>
  </div>

  <div layout="row" layout-align="center center" layout-wrap>
    <md-card class="source-card" ng-repeat="source in corpusStats">
      <md-card-content>
        <div class="md-title" layout="row" layout-wrap>
          <a href="http://{{source.corpusSource}}/">{{source.corpusSource}}</a>
        </div>
        <p>Size: {{source.sourceData.size | number}}</p>
        <div flex layout="row">
          <canvas id="{{source.corpusSource}}-bar" class="chart chart-bar" height="100"
                  chart-data="source.sourceData.over_time" chart-labels="corpusGraphLabels"
                  chart-series="corpusGraphSeries" chart-colours="[{fillColor: '#3F51B5'}]"
                  chart-options="corpusGraphOptions">
          </canvas>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
