<div class="tab-container">
  <div layout="row">
    <span flex></span>
    <md-button id="new-embedding-btn" class="md-fab md-mini" aria-label="New embedding"
      ng-click="newEmbeddingDialog($event)">
      <md-icon class="fab-btn-icon" md-font-icon="fa fa-plus"></md-icon>
      <md-tooltip md-direction="left">New Embedding</md-tooltip>
    </md-button>
  </div>

  <div ng-repeat="embedding in embeddings">
    <div class="card-progress" ng-if="embedding.status != 'TRAINING'"></div>
    <div class="card-progress" ng-if="embedding.status == 'TRAINING'"
         style="width: {{100 * trainingJobs[embedding.id].progress | number:6}}%"></div>
    <md-card class="nabu-card"
             ui-sref="initial.tabs.embeddings-detail({embeddingId: embedding.id})"
             layout="row" layout-align="space-between center" layout-wrap>
      <div class="card-model card-{{embedding.model | lowercase}}"
           layout="column" layout-align="center center">
        {{embedding.model[0] | uppercase}}
        <md-tooltip md-direction="right">{{embedding.model}}</md-tooltip>
      </div>
      <div class="card-content" layout="column" layout-align="space-between start">
        <div class="card-name">{{embedding.name}}</div>
        <div class="card-description">{{embedding.description}}</div>
      </div>
      <div class="card-status" layout="row" layout-align="center center">
        <div class="card-status-{{embedding.status | lowercase}}">
          <md-tooltip md-direction="left" ng-if="embedding.status != 'TRAINING'">
            {{embedding.status | titlecase}}
          </md-tooltip>
          <md-tooltip md-direction="left" ng-if="embedding.status == 'TRAINING'">
            {{embedding.status | titlecase}} - {{100 * trainingJobs[embedding.id].progress | number:1}}%
          </md-tooltip>
        </div>
      </div>
    </md-card>
  </div>
</div>
