<div class="tab-container">
  <div layout="row">
    <span flex></span>
    <md-button id="new-embedding-btn" class="md-fab md-mini" aria-label="New embedding"
      ng-click="newEmbeddingDialog($event)">
      <md-icon class="fab-btn-icon" md-font-icon="fa fa-plus"></md-icon>
      <md-tooltip md-direction="left">New Embedding</md-tooltip>
    </md-button>
  </div>

  <md-card class="nabu-card" ng-repeat="embedding in embeddings"
    ui-sref="initial.tabs.embeddings-detail({embeddingId: embedding.id})">
    <md-card-content>
      <div class="md-title" layout="row" layout-wrap>
        <p>{{embedding.name}}</p>
        <span flex></span>
        <div ng-class="embedding.status | lowercase">
          <md-tooltip md-direction="left" ng-if="embedding.status != 'TRAINING'">
            {{embedding.status | titlecase}}
          </md-tooltip>
          <md-tooltip md-direction="left" ng-if="embedding.status == 'TRAINING'">
            {{embedding.status | titlecase}} - {{trainingJobs[embedding.id].progress | number:3}}%
          </md-tooltip>
        </div>
      </div>
      <p>{{embedding.description}}</p>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
      <md-button>{{embedding.model}}</md-button>
    </div>
  </md-card>
</div>
