<div layout-padding class="tab-container">

  <div layout-padding layout="row">
    <div layout="column">
      <small class="section-header">
        <a ui-sref="initial.tabs.tests">Tests</a> >
        <b>Test set #{{testSet.id}}</b>
      </small>

      <div layout="row" class="emb-detail-name">
        <p>{{testSet.type | uppercase}}</p>
      </div>
    </div>

    <span flex></span>

    <md-fab-speed-dial md-direction="left" ng-class="md-scale" >
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab">
          <md-icon class="fab-btn-icon" md-font-icon="fa fa-bars"></md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button class="md-fab md-mini" aria-label="Download test set file" href="{{testSet.download_link}}" download>
          <md-icon class="fab-btn-icon" md-font-icon="fa fa-download"></md-icon>
          <md-tooltip md-direction="top">Download Test Set File</md-tooltip>
        </md-button>
        <md-button class="md-fab md-mini" aria-label="Delete test set" ng-click="deleteTestSet()">
          <md-icon class="fab-btn-icon" md-font-icon="fa fa-trash-o"></md-icon>
          <md-tooltip md-direction="top">Delete Test Set</md-tooltip>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>

  <div layout-padding layout="row" layout-sm="column">
    <md-input-container flex=40 flex-sm=90>
      <label>Name</label>
      <textarea ng-blur="updateTestSet()" ng-model="testSet.name" columns="1"></textarea>
    </md-input-container>

    <span flex="15"></span>

    <md-input-container flex=40 flex-sm=90>
      <label>Description</label>
      <textarea ng-blur="updateTestSet()" ng-model="testSet.description" columns="1"></textarea>
    </md-input-container>
  </div>

  <div layout-padding layout="row">
    <h4>Example</h4>
  </div>
  <div layout-padding layout="row">
    <pre ng-bind="testSet.sample_entry"></pre>
  </div>

  <div ng-show="evaluationResults.length > 0" layout="row" flex>
    <md-data-table-container flex>
      <div layout="row" layout-align="center center">
        <span layout-padding class="md-label-sim">Embeddings</span>
        <span flex></span>
        <md-button class="md-fab md-mini" aria-label="New Embedding Test"
          ng-click="newEmbeddingTestDialog($event)">
          <md-icon class="fab-btn-icon" md-font-icon="fa fa-plus"></md-icon>
          <md-tooltip md-direction="left">New Embedding Test</md-tooltip>
        </md-button>
      </div>

      <table layout-padding md-data-table md-progress="deferred" class="corpus-search-results">
        <thead md-order="evaluation.order" md-trigger="onOrderChange">
          <tr>
            <th name="Date" order-by="creation_date"></th>
            <th name="Embedding Description" order-by="embedding_id"></th>
            <th name="Embedding Model" order-by="embedding_id"></th>
            <th name="Accuracy" order-by="accuracy" md-order-by="accuracy"></th>
            <th name="Details"></th>
          </tr>
        </thead>
        <tbody>
          <tr md-auto-select ng-repeat="result in evaluationResults | orderBy: evaluation.order">
            <td>{{result.creation_date}}</td>
            <td>{{embeddings[result.embedding_id].description}}</td>
            <td>{{embeddings[result.embedding_id].model}}</td>
            <td>{{result.accuracy | percentage}}</td>
            <td>
              <a ng-click="testResultDialog($event, result.embedding_id)" href="">
                <i class="fa fa-eye fa-2x"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>
  </div>
</div>
