<md-dialog flex="85" class="nabu-dialog" aria-label="Run the test on an embedding" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Run the test on an embedding</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <i aria-label="Close" class="fa fa-close"></i>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <div class="dialog-instructions">
        <p>Please select how to run the test.</p>
      </div>

      <form name="newEmbeddingTestForm">
        <div layout="row" layout-sm="column">
          <md-input-container flex="80">
            <label>Evaluation method</label>
            <md-select ng-model="evaluationMethod">
              <md-option value="missing">Evaluate on the missing embeddings</md-option>
              <md-option value="full">Evaluate on all the embeddings</md-option>
              <md-option value="single">Evaluate on a particular embedding</md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row" layout-sm="column" ng-show="evaluationMethod == 'single'">
          <md-input-container flex="80">
            <label>Embedding</label>
            <md-select ng-model="embeddingId">
              <md-option ng-repeat="emb in embeddings" ng-value="{{emb.id}}">
                {{emb.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </form>

    </div>
  </md-dialog-content>

  <div class="md-actions" layout-align="space-between center" layout="row">
    <span ng-show="showErrors" class="error-message" flex>There was an error creating the test.</span>
    <div layout="row" layout-align="end center" flex>
      <md-button md-autofocus ng-click="create()">Create</md-button>
    </div>
  </div>
</md-dialog>
